set hlsearch
set ignorecase
set smartcase
set scrolloff=3 " 3 lines above/below cursor when scrolling

" Emulated Plugins
set surround
" See vim exchange
set exchange

" Emulated Plugins
set surround
" See vim exchange
set exchange
" adds argument to cd - actions
set argtextobj
" highlight yanked text
set highlightedyank
" Copy to system clipboard as well
set clipboard+=unnamed
" Use Idea to join lines smartly
set ideajoin

" Multiple cursors support
"set multiple-cursors

" These settings are from - https://github.com/Valloric/dotfiles/blob/master/intellij/ideavimrc

" let mapleader = ","
let mapleader = " "
" let maplocalleader = ","

" edit text
" These create newlines like o and O but stay in normal mode
nmap zj mbo<Esc>`b
nmap zk mbO<Esc>`b
nmap zJ mbjdd`b
nmap zK mbkdd`b
nmap dl :action EditorDuplicate<cr>
nmap Y v$y

nmap <leader>spotbugs :action SpotBugs.AnalyseScope<CR>
nmap <leader>sonar :action SonarLint.AnalyzeChangedFiles<CR>
nmap <leader>qaplug :action QAPlug.AnalyzeCode<CR>
nmap <leader>ic :action InspectCode<cr>
nmap <leader>test :action Console.Open<CR>

" Navigation
nmap L :action Back<cr>
nmap H :action Forward<cr>

" New staff
nnoremap ,e :action SearchEverywhere<CR>
nnoremap ,f :action FindInPath<CR>
nnoremap ,s :action FileStructurePopup<CR>
nnoremap ,/ :action Find<cr>
nnoremap ,a :action GotoAction<CR>
vnoremap ,a :action GotoAction<CR>
"nnoremap gp :action JumpToLastChange<CR>

"nnoremap U :action FindUsages<CR>
"nnoremap R :action RenameElement<CR>

nnoremap == :action ReformatCode<CR>
vnoremap == :action ReformatCode<CR>

"nnoremap <C-CR> :action ShowIntentionActions<CR>
"nnoremap <C-CR> :action EditorPopupMenu<CR>


" Multiple cursors
nmap <c-[> :action EditorCloneCaretAbove<CR>
nmap <c-]> :action EditorCloneCaretBelow<CR>

" Search
nmap <leader>fip :action FindInPath<CR>
"" find in files
nmap <leader>fu :action FindUsages<CR>
nmap <leader>fa :action GotoAction<CR>
nmap <leader>fc :action GotoClass<CR>
nmap <leader>ff :action GotoFile<cr>
nmap <leader>url :action GotoUrlAction<cr>

nmap gd :action GotoDeclaration<CR>
nmap gtd :action GotoTypeDeclaration<CR>
nmap gs :action GotoSuperMethod<CR>
nmap gi :action GotoImplementation<CR>
nmap gf :action GotoFile<cr>
nmap gr :action RecentChangedFiles<cr>
nmap gE :action RecentLocations<cr>
nmap ge :action RecentFiles<cr>
nmap gt :action GotoTest<cr>
nmap gp :action JumpToLastWindow<cr>
nmap gb :action ShowBookmarks<cr>
nmap g, :action JumpToLastChange<CR>
nmap g. :action JumpToNextChange<CR>
nmap gl :action GotoRelated<cr>


 Git
nmap <leader>gg :action Git.MainMenu<cr>

nmap <leader>M :action ActivateStructureToolWindow<cr>

nmap <leader>I :action SelectIn<cr>
nmap <leader>sel :action SelectIn<cr>
nmap <C-,> :action MethodUp<cr>
nmap <C-.> :action MethodDown<cr>


"Popups
nmap <leader>fsp :action FileStructurePopup<CR>
nmap <leader>fp :action ShowFilePath<CR>
nmap ,fp :action ShowFilePath<CR>
nmap <leader>uml :action ShowUmlDiagramPopup<CR>
""Context menu
nmap <leader>cm :action EditorPopupMenu<CR>
nmap <leader>ha :action HideAllWindows<CR>
nmap <leader>hw :action HideAllWindows<CR>
nmap <leader>wh :action HideAllWindows<CR>

nmap <leader>goto :action GoToCodeGroup<cr>
nmap <leader>ga :action GotoAction<CR>
nmap <leader>gc :action GotoClass<CR>
nmap gm :action GoToMenu<CR>
vmap gm :action GoToMenu<CR>
nmap gurl :action GotoUrlAction<CR>

" Actions
nmap <c-p> :action ParameterInfo<CR>
vmap <c-p> :action ParameterInfo<CR>
nmap <leader>ch :action CallHierarchy<CR>
nmap <leader>th :action TypeHierarchy<CR>
nmap <leader>mh :action MethodHierarchy<CR>
nmap <leader>sb :action SliceBackward<CR>
nmap <leader>sf :action SliceForward<CR>
nmap <leader>S :action SelectInProjectView<CR>
nmap <leader>h :action HideAllWindows<CR>
nmap <leader>ann :action Annotate<CR>
nmap <leader>reload :source ~/.ideavimrc<CR>

"movement
map w [w
map e ]w
map b [b

" Projects
nmap <leader>np :action NextProjectWindow<CR>
nmap <leader>pp :action PreviousProjectWindow<CR>
nmap <leader>pw :action OpenProjectWindows<CR>

" tools
nmap <leader>atw :action ActivateTerminalToolWindow<CR>
nmap <leader>cmd :action ActivateTerminalToolWindow<CR>
nnoremap <a-0> :action ActivateTerminalToolWindow<CR>

" Refactorings
nmap <leader>rr :action RenameElement<CR>
nmap <leader>r= :action ReformatCode<CR>
vmap <leader>r= :action ReformatCode<CR>
nmap <leader>cc :action CommentByLineComment<CR>
vmap <leader>cc :action CommentByLineComment<CR>
nmap <leader>cg :action Generate<cr>
vmap R :action Refactorings.QuickListPopupAction<cr>
nmap R :action Refactorings.QuickListPopupAction<cr>
nmap <leader>oi :action OptimizeImports<cr>
vmap <leader>rf :action RefactoringMenu<CR>
nmap <leader>rf :action RefactoringMenu<CR>

nmap <leader>sd :action SequencePlugin.ShowSequenceDiagram<CR>
vmap <leader>sd :action SequencePlugin.ShowSequenceDiagram<CR>
"" Inspection
nmap <leader>inspect :action InspectCode<cr>

" key bindings for quickly moving between windows
" h left, l right, k up, j down
nmap <leader>wh <c-w>h
nmap <leader>wl <c-w>l
nmap <leader>wk <c-w>k
nmap <leader>wj <c-w>j
"
"" To navigate between split panes
nmap <leader>wn :action NextSplitter<cr>
nmap <leader>wp :action PrevSplitter<cr>
" nmap <leader>j :action PrevSplitter<cr>
"" Splits manipulation
nmap <leader>sh :action SplitHorizontally<cr>
nmap <leader>sv :action SplitVertically<cr>
nmap <leader>hs :action SplitHorizontally<cr>
nmap <leader>vs :action SplitVertically<cr>
nmap <leader>mm :action Unsplit<cr>
nmap <leader>max :action UnsplitAll<cr>
nmap <leader>us :action Unsplit<cr>
nmap <leader>usa :action UnsplitAll<cr>
nmap <leader>jlw :action JumpToLastWindow<cr>
nmap <leader>mo :action MoveEditorToOppositeTabGroup<cr>
nmap <leader>oo :action OpenEditorInOppositeTabGroup<cr>

" easy window navigation
nmap <a-s-h> :action TabShiftActions.StretchLeft<CR>
nmap <a-s-l> :action TabShiftActions.StretchRightCR>
nmap <a-s-j> :action TabShiftActions.StretchDown<CR>
nmap <a-s-k> :action TabShiftActions.StretchUp<CR>

nmap <c-l> <c-w>l
nmap <a-l> <c-w>l
nmap <c-j> <c-w>j
nmap <c-h> <c-w>h
nmap <a-h> <c-w>h
nmap <c-k> <c-w>k
nmap <a-o> :action MoveEditorToOppositeTabGroup<cr>
nmap <a-s-O> :action OpenEditorInOppositeTabGroup<cr>
" scrolling
nmap <c-s-j> :action EditorScrollUp<cr>
nmap <c-s-k>  :action EditorScrollDown<cr>
nmap <c-s-h>  :action EditorScrollLeft<cr>
nmap <c-s-l>  :action EditorScrollRight<cr>
nmap <c-s-m>  :action EditorScrollToCenter<cr>
vmap <c-s-j> :action EditorScrollUp<cr>
vmap <c-s-k>  :action EditorScrollDown<cr>
vmap <c-s-h>  :action EditorScrollLeft<cr>
vmap <c-s-l>  :action EditorScrollRight<cr>
vmap <c-s-m>  :action EditorScrollToCenter<cr>
"EditorScrollTop
"EditorScrollBottom

nmap // :action Find<cr>
vmap // :action Find<cr>

nmap <leader>fi :action Find<cr>
vmap <leader>find :action Find<cr>
vmap <leader>fi :action Find<cr>
"
"" Building, Running and Debugging
nmap <leader>ru :action Run<cr>
" double ctrl
"vmap <leader>ra :action RunAnything<cr>
nmap <leader>rm :action RunMenu<cr>
nmap <leader>run :action RerunTests<cr>
nmap <leader>ruf :action RerunFailedTests<cr>
nmap <leader>rc :action RunConfiguration<cr>

"Debug
nmap <leader>debug :action Debug<cr>
nmap <leader>stop :action Stop<cr>
nmap <leader>si :action StepInto<cr>
nmap <leader>so :action StepOver<cr>
nmap <leader>con :action Resume<CR>
nmap <leader>resume :action Resume<CR>
nmap <leader>continue :action Resume<CR>
nmap <leader>sout :action StepOut<cr>
nmap <leader>sO :action StepOut<cr>
nmap <leader>sbp :action StopBackgroundProcesses<cr>
nmap <leader>ssi :action SmartStepInto<CR>
"Evaluate expression
nmap <leader>eval :action EvaluateExpression<CR>
nmap <leader>ee :action EvaluateExpression<CR>
nmap <leader>exec :action EvaluateExpression<CR>
vmap <leader>eval :action EvaluateExpression<CR>
vmap <leader>ee :action EvaluateExpression<CR>
vmap <leader>exec :action EvaluateExpression<CR>
" Evaluate parameter
vmap <c-a-e> :action QuickEvaluateExpression<CR>
nmap <c-a-e> :action QuickEvaluateExpression<CR>
nmap <c-a-i> :action ExpressionTypeInfo<CR>
vmap <c-a-i> :action ExpressionTypeInfo<CR>

" Breakpoints
nmap [bv :action ViewBreakpoints<CR>
nmap [bm :action XDebugger.MuteBreakpoints<CR>
nmap [bb :action ToggleLineBreakpoint<CR>

" built-in navigation to navigated items works better
"nnoremap <c-o> :action Back<cr>
"nnoremap <c-i> :action Forward<cr>

" Tool windows
nmap <leader>afw :action ActivateFavoritesToolWindow<CR>
nmap <Leader>apw :action ActivateProjectToolWindow<CR>
nmap <leader>adw :action ActivateDebugToolWindow<CR>
nmap <leader>arw :action ActivateRunToolWindow<CR>
nmap <leader>aprw :action ActivateProblemsViewToolWindow<CR>
nmap <leader>todo :action ActivateTODOToolWindow<CR>

" VCS operations
nmap <leader>change :action Vcs.Show.Local.Changes<cr>
nmap <leader>comm :action Vcs.Show.Local.Changes<cr>
" nmap <leader>yp :action Vcs.QuickListPopupAction<cr>
" nmap <leader>ya :action Annotate<cr>
nmap <leader>log :action Vcs.Show.Log<cr>
nmap <leader>clv :action Compare.LastVersion<cr>
" nmap <leader>yr :action Git.ResolveConflicts<cr>

" IdeaVim uses 'a' for alt instead of Vim's 'm'

" unimpaired mappings - from https://github.com/saaguero/ideavimrc/blob/master/.ideavimrc
"nnoremap [c :action VcsShowPrevChangeMarker<cr>
"nnoremap ]c :action VcsShowNextChangeMarker<cr>

" Errors
"nmap <leader>gne :action GotoNextError<cr>
"nmap <leader>gpe :action GotoPreviousError<cr>
"nmap <leader>sed :action ShowErrorDescription<cr>

" Show Switcher
nmap [s :action Switcher<CR>

" External GVim
" nmap <leader>v :action Tool_External Tools_gvim<cr>

" External Emacs
" nmap <leader>E :action Tool_External Tools_emacsclient<cr>

" External Sublime Text
" nmap <leader>S :action Tool_External Tools_sublime_text<cr>

" git flow
" noremap \[ <ESC>:action Gitflow.OpenGitflowPopup<CR>
" Vcs
" noremap \] <ESC>:action Vcs.QuickListPopupAction<CR>
sethandler <C-S-Q> a:ide
sethandler <C-.> a:vim
sethandler <A-0> a:vim
sethandler <C-2> a:vim
sethandler <C-A> a:vim
sethandler <C-B> a:vim
sethandler <C-C> a:vim
sethandler <C-D> a:vim
sethandler <C-E> a:vim
sethandler <C-F> a:ide
sethandler <C-G> a:vim
sethandler <C-H> a:vim
sethandler <C-S-H> a:vim
sethandler <C-I> a:vim
sethandler <C-J> a:vim
sethandler <C-S-J> a:vim
sethandler <C-S-K> a:vim
sethandler <C-L> a:vim
sethandler <C-S-L> a:vim
sethandler <C-M> a:vim
sethandler <C-N> a:vim
sethandler <C-O> a:vim
sethandler <A-O> a:vim
sethandler <A-S-O> a:vim
sethandler <C-P> a:vim
sethandler <C-Q> a:ide
sethandler <C-R> a:vim
sethandler <C-S> a:vim
sethandler <C-T> a:vim
sethandler <C-U> a:vim
sethandler <C-V> a:vim
sethandler <C-W> a:ide
sethandler <C-X> a:vim
sethandler <C-Y> a:vim
sethandler <C-[> a:vim
sethandler <C-]> a:vim
